@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1200px;
  padding: 0 1.25rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

header,
#portfolio,
#skill {
  padding-top: 2rem;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

h5 {
  font-size: 1.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.gap-4 {
  gap: 16px;
}

header {
  padding-top: 2rem;
}
h3 {
  font-size: 2.5rem;
  animation: bounce 1s infinite;
}

h4 {
  font-size: 1.75rem;
}

.justify-between {
  justify-content: space-between;
}

/* ====== HEADER =========== */

.description {
  padding: 0.5rem 0;
}

.icon {
  height: 39px;
  width: 39px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(230, 239, 255, 1);
}

.state {
  display: flex;
  align-items: center;
  gap: 20px;
}

.text-blue {
  color: rgba(0, 115, 255, 1);
}

.state span {
  color: #0073ff;
  font-weight: 600;
}

.contact {
  display: flex;
  padding-top: 1rem;
  gap: 20px;
}

.contact a {
  text-decoration: none;
}

.btn-download {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0073ff;
  border-radius: 9999px;
}

.btn-download p {
  padding: 0 2.5rem;
}

.btn-download p i {
  margin-left: 0.5rem;
}

.btn-contact span {
  background: rgba(229, 231, 235, 1);
  color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.btn-contact span:hover {
  background: rgba(209, 213, 219, 1);
}

/* ======= MAIN ========= */

footer .ri-shining-fill {
  animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}
footer .ri-shining-fill {
  font-size: 1.5rem;
}

.social-icon {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 9999px;
  transition: all 0.3s;
}

.pt-2 {
  padding-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

/* ==== PORTFOLIO ====== */

.portfolio-list {
  padding-top: 0.25rem;
  flex-wrap: wrap;
  gap: 2%;
}

.portfolio-item {
  flex-direction: column;
  background: #f5f5f5;
  padding: 1rem;
  width: 48%;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portfolio-item .year {
  background: white;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.portfolio-link {
  text-decoration: none;
}

/* ==== Experience ===== */

.experience-item {
  gap: 20px;
  padding-bottom: 1rem;
}

.experience-item__content {
  flex-basis: 70%;
}

.experience-item__timeline {
  white-space: nowrap;
  font-weight: 300;
  flex-basis: 20%;
}

.experience-item__title {
  font-weight: bold;
  font-size: 1.25rem;
}

/* ==== Skills===== */

.skill-list {
  gap: 0.5rem;
  flex-wrap: wrap;
}

#skill h6 {
  font-size: 1.25rem;
}

.skill-item {
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  border: 1px solid black;
  transition: all 0.3s;
}

.skill-item:hover {
  background: black;
  color: white;
}

.text-sm {
  font-size: 14px;
  color: #4b4b4b;
  transition: all 0.3s;
}

.text-sm:hover {
  color: black;
}

.social-icon:hover {
  background: #000;
  color: white;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes ping {
  75%,
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

/* ========= RESPONSIVE ========= */

@media screen and (max-width: 700px) {
  .experience-item {
    flex-direction: column;
    gap: 0;
  }

  .experience-item__timeline {
    flex-basis: 100%;
  }

  .experience-item__content {
    flex-basis: 100%;
  }
  h3 {
    font-size: 2rem;
  }
  .description {
    font-size: 14px;
  }

  .btn-download {
    font-size: 14px;
  }

  .btn-contact span {
    width: 2.5rem;
    height: 2.5rem;
  }

  .btn-contact span i {
    font-size: 14px;
  }

  .state {
    gap: 10px;
  }
  .state .title {
    font-size: 14px;
  }

  .state .icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 1000px) {
  .portfolio-item {
    width: 100%;
  }
}
