@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap");

:root {
  --dark_blue: #130f49;
  --regular_blue: #34a1cd;
  --light_blue: #d9f4ff;
  --regular_red: #d74848;
  --regular_yellow: #e8aa48;
  --regular_white: #fff;
  --background_blue: #e9f9ff;
  --regular_grey: rgb(180, 178, 197);
  --dark_purple: #55527c;
  --light_red: rgb(255, 245, 246);
  --color_cursor: #2696eb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body,
button {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

/* animation */
/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@keyframes colors {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes rotateAnimation {
  0% {
    transform: ro;
  }
}

/* common */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section_subtitle {
  text-transform: uppercase;
  line-height: 1.5rem;
  color: var(--regular_grey);
}

.section_title {
  font-family: Poppins, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  line-height: 1.15;
  color: var(--dark_blue);
}

#wrapper {
  height: 100vh;
}

.shadow:hover {
  --tw-shadow-color: rgba(217, 217, 226, 0.4);
  --tw-shadow: 0 25px 100px -15px rgba(19, 15, 73, 0.1);
  --tw-shadow-colored: 0 25px 100px -15px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-show {
  --tw-shadow-color: rgba(52, 161, 205, 0.2);
  --tw-translate-y: -0.125rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  --tw-shadow: var(--tw-shadow-colored);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.box-shadow:hover {
  --tw-shadow-color: rgba(52, 161, 205, 0.2);
  --tw-translate-y: -0.125rem;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  --tw-shadow: var(--tw-shadow-colored);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: 0.15rem;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

// header

#header-pc {
  padding: 32px 0 !important;
  width: 100%;
  background-color: transparent;
  z-index: -10;
}

.fixed-nav {
  position: fixed;
  right: 0;
  left: 0;
  /* this to make animation */
  top: -50px;
  margin-top: 50px;
  background-color: var(--regular_white);
  transition: margin ease 0.3s;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.header_mobile {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 20;
  background-color: var(--background_blue);
  display: none;
}

.container {
  margin: 0 auto !important;
  padding: 32px 16px !important;
  width: 100% !important;
}

.header_nav-mobile {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.header_nav-mobile a {
  text-decoration: none;
  color: var(--dark_blue);
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
  padding: 2rem 0;
  border-bottom: 1px #d5d5d5 solid;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_wrapper-left {
  flex-grow: 1;
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.header__wrapper-right ul {
  display: flex;
  font-weight: 700;
  align-items: center;
  gap: 3rem;
  line-height: 1.5rem;
  display: none;
}

.header_wrapper-left a,
.header__wrapper-right a {
  text-decoration: none;
  color: var(--dark_blue);
  transition: all 0.2s;
}

.header__wrapper-right a:hover {
  color: var(--regular_blue);
}

.button_link-contact {
  padding: 12px 32px;
  background-color: var(--dark_blue);
  color: var(--regular_white) !important;
  font-weight: 400;
  border-radius: 12px;
}

.button_link-contact:hover {
  transform: translateY(-0.125rem);
}

/* main */
section#home {
  padding: 112px 16px 192px;
  border-bottom: 1px solid var(--background_blue);
  margin-bottom: 7rem;
}

.button_menu-toggle {
  width: 40px;
  height: 40px;
  background-color: var(--regular_white);
  cursor: pointer;
  display: inline-block;
}

.button_menu-toggle i {
  font-size: 2.05rem;
  font-weight: 600;
}

#home .home_section-hero {
  display: grid;
  gap: 3rem;
  align-items: center;
}

.home_section_title {
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.home_section_title img {
  width: 0.875rem;
  height: 0.875rem;
  margin-right: 0.5rem;
}

.home_section_title p {
  line-height: 1.5rem;
  color: var(--regular_grey);
}

.section_title span {
  color: var(--regular_blue);
}

.home_section_title-button {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.home_section_title-button a {
  text-decoration: none;
  color: var(--regular_white);
  border-radius: 0.75rem;
  transition: all 0.2s;
}

.home_section_title-button a:hover {
  transform: translateY(-0.125rem);
}

.home_section_title-button-1 {
  padding: 1rem 2rem;
  background-color: var(--dark_blue);
}

.home_section_title-button-2 {
  background-color: var(--regular_blue);
  padding: 1rem 3rem;
}

.images_dot {
  position: absolute;
  top: 2rem;
  left: 0;
  display: none;
  z-index: 10;
}

.images_face_wrapper {
  overflow: hidden;
  background-color: var(--light_blue);
  border-radius: 9999px;
  width: 100%;
}

.images_face {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

/* services  */

.services_title {
  text-align: center;
  margin-bottom: 3rem;
}

.services_desc_wrapper {
  display: grid;
  gap: 2rem;
}

.services_desc {
  padding: 2rem;
  transition: all ease-in-out 0.5s;
  border-radius: 1rem;
}

.services_desc_title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.services_desc_title-icon {
  border-radius: 1rem;
  background-color: var(--background_blue);
  padding: 1rem;
}

.services_desc_title h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--dark_blue);
}

.services_desc p {
  font-size: 1.15rem;
  line-height: 1.75rem;
}

/* portfolio */

.portfolio_background {
  position: absolute;
  top: 0;
  right: 0;
  padding: 14rem 0;
  width: 70%;
  border-top-left-radius: 3.5rem;
  border-bottom-left-radius: 3.5rem;
  background-color: var(--light_red);
  z-index: -10;
}

.portfolio_main_wrapper {
  display: grid;
  gap: 2rem;
  margin-top: 6rem;
  overflow: hidden;
}

.portfolio_main_wrapper a,
.portfolio_main_wrapper article {
  position: relative;
}

.portfolio_main_wrapper a img,
.portfolio_main_wrapper article img {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 2rem;
}

.portfolio_main_button_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio_main_button_wrapper h5 {
  font-weight: 700;
  font-family: Poppins, sans-serif;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 2rem;
  color: var(--dark_purple);
}

.portfolio_main_button_wrapper button {
  transition: all 0.2s;
}

.portfolio_main_button_wrapper button a {
  border-radius: 0.75rem;
  background-color: var(--dark_purple);
  text-decoration: none;
  color: var(--regular_white);
  padding: 1rem 1.5rem;
}

.portfolio_main_button_wrapper button:hover {
  transform: translateY(-0.125rem);
}

.portfolio_main_link_wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
  opacity: 0;
}

.portfolio_main_link_wrapper:hover {
  opacity: 100;
}

.portfolio_main_link_wrapper:hover .portfolio_main_link_title {
  transform: translateY(0);
}

.portfolio_main_link_background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  background-color: var(--dark_purple);
  border-radius: 2rem;
  z-index: 5;
}

.portfolio_main_link_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  color: var(--regular_white);
  transform: translateY(50%);
  transition: all 0.7s;
}

.portfolio_main_link_title picture img {
  max-width: 1.5rem;
  object-fit: contain;
}

/* process */
.process_wrapper {
  display: flex;
  flex-direction: column;
}

.process_wrapper_left {
  width: 100%;
}

.process_wrapper_right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.process_wrapper_right:hover {
  opacity: 0.85;
}

.process_wrapper_right .process_desc {
  padding: 2rem;
  border-radius: 1.5rem;
  transition: all 0.5s;
}

.process_wrapper_right .process_desc:hover {
  background-color: var(--background_blue);
  opacity: 1;
}

.process_wrapper_right .process_desc h4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
  color: var(--dark_blue);
}

.process_wrapper_right .process_desc_subtitle {
  display: flex;
  align-items: center;
}

.process_wrapper_right .process_desc_subtitle p {
  color: var(--regular_blue);
  font-weight: 700;
  letter-spacing: 0.1em;
}

.process_wrapper_right .process_desc_subtitle .process_desc_subtitle_icon {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--regular_blue);
  border-radius: 9999px;
  margin-right: 0.5rem;
}

/* testimonials */

.testimonials {
  padding-top: 6rem;
  padding-bottom: 12rem;
  background-color: var(--light_red);
}

.testimonials_main {
  display: grid;
  gap: 5rem;
  margin-bottom: 3rem;
}

.testimonials_items {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 3rem;
  padding-top: 4rem;
  border-radius: 0.75rem;
  text-align: center;
  background-color: var(--regular_white);
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.testimonials_items picture img {
  border-radius: 9999px;
  border: 4px solid var(--regular_white);
  margin: 0 auto;
  width: 6rem;
  position: absolute;
  top: -2.5rem;
  right: 0;
  left: 0;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.testimonials_items img {
  width: 2.5rem;
}

.testimonials_items .testimonials_items_name {
  font-weight: 700;
  color: var(--dark_blue);
}

.testimonials_items .testimonials_items_desc {
  flex-grow: 1;
  margin-bottom: 2rem;
  color: var(--dark_purple);
}

.testimonials_items .testimonials_items_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  stroke: #f8f8fa;
  color: var(--regular_grey);
}

.testimonials_items .testimonials_items_link:hover {
  color: var(--dark_purple);
  text-decoration: underline;
}

.testimonials_items .testimonials_items_link p {
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-right: 0.375rem;
}

.testimonials_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.testimonials_rating_title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.testimonials_rating_desc {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.testimonials_rating_desc span {
  text-decoration: underline;
}

.testimonials_rating_stars img {
  height: 1.75rem;
}

.testimonials_rating_logo img {
  height: 1.75rem;
}

/* blog */
.blog_main {
  padding: 0 1rem;
  margin-bottom: 2rem;
  display: grid;
  gap: 2rem;
}

.blog_main_link {
  border-radius: 1.5rem;
  overflow: hidden;
  transition: all 0.3s;
  text-decoration: none;
}

.blog_main_link:hover {
  transform: translateY(-0.25rem);
}

.blog_main_link picture img {
  aspect-ratio: 1/1;
  object-fit: cover;
  height: 13rem;
  width: 100%;
}

.blog_main_link .blog_main_link_content {
  background-color: var(--regular_white);
  padding: 2rem;
}

.blog_main_link_content-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  color: var(--dark_blue);
}

.blog_main_link_content-title span {
  color: var(--regular_blue);
}

.blog_main_link_content p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--dark_purple);
}

.blog_main_views {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  transition: all 0.2s;
}

.blog_main_views:hover p {
  color: var(--regular_blue);
}

.blog_main_views p {
  color: var(--dark_purple);
  margin-right: 0.5rem;
}

.contact_wrapper {
  background-color: var(--background_blue);
  padding: 6rem 3rem;
  border-radius: 1.5rem;
}

/* contact */
.contact_main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_main picture img {
  margin-right: 1rem;
  width: 3rem;
}

.contact_main a {
  text-decoration: none;
  color: var(--regular_grey);
  font-weight: 700;
  letter-spacing: -0.025em;
  font-size: 1.05rem;
  line-height: 1.75rem;
}

.contact_main a:hover {
  text-decoration: underline;
}

.contact_footer {
  margin-top: 6rem;
  text-align: center;
}

.contact_footer a {
  margin-right: 1rem;
  transition: all 0.1s;
}

.contact_footer a:hover {
  color: var(--regular_grey);
}

/* footer */
footer {
  text-align: center;
}

footer p {
  font-size: 1rem;
  color: #b4b2c5;
}

.cursor {
  z-index: 9999px;
  background-color: var(--color_cursor);
  position: fixed;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 0 20px var(--color_cursor), 0 0 60px var(--color_cursor),
    0 0 100px var(--color_cursor);
  opacity: 0.5;
  animation: colors 5s infinite;
}

.cursor::before {
  content: "";
  position: absolute;
  background-color: var(--color_cursor);
  width: 100px;
  height: 100px;
  opacity: 0.2;
  transform: translate(-25%, -25%);
  border-radius: 50%;
  box-shadow: 0 0 20px var(--color_cursor), 0 0 60px var(--color_cursor),
    0 0 100px var(--color_cursor);
}
